name: Continuous Integration

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
      
    #- name: Restore Packages
    #  run: dotnet restore -s ./Server.sln
      
    - name: Build Solution
      run: dotnet build

    - name: Test
      run: dotnet test --no-build --verbosity normal --logger "trx;LogFileName=test-results.trx"
      working-directory: ./Tests

    - uses: actions/upload-artifact@v2  # upload test results
      if: success() || failure()        # run this step even if previous step failed
      with:
        name: test-results
        path: ./Tests/TestResults/test-results.trx

    - uses: dorny/test-reporter@v1
      with:
        artifact: test-results            # artifact name
        name: Dotnet Tests                # Name of the check run which will be created
        path: './test-results.trx'          # Path to test results (inside artifact .zip)
        reporter: dotnet-trx              # Format of test results
